<mat-toolbar color="primary">  
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/users" routerLinkActive="active">Users</button>
      <button mat-menu-item routerLink="/books" routerLinkActive="active">Books</button>
    </mat-menu>
    <span>Angular - NGRX / {{ (config$ | async)?.adminName }}</span>
  </mat-toolbar-row>

</mat-toolbar>
<div class="container app-container">
  <router-outlet></router-outlet>
</div>